<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Chartjs Charts</title>
</head>

<body>
	<h>{{toilet_name}}</h>
	<div style="height: 50vh; width: 50%;">
		<canvas id="myChart"></canvas>
	</div>

	<script>
		const labels = {{ labels | tojson}};

		const data = {
			labels: labels,
			datasets: [{
				label: 'visits',
				backgroundColor: 'rgb(150, 150, 200)',
				borderColor: 'rgb(100, 100, 200)',
				data: {{ data | tojson}},
			}]
		};

		const config = {
			type: 'line',
			data: data,
			options: { maintainAspectRatio: false}
		};

		const myChart = new Chart(
			document.getElementById('myChart'),
			config
		);

	</script>
</body>
</html>
